*{
    margin:0;
}

.nav{
    background-color: rgb(218, 217, 216);
    display: flex;
    justify-content: space-between;
   
  

}
    

ul li{
    display: inline-flex;
    margin: 5px 10px 5px 5px;
    padding:5px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.title{
    margin: 5px 5px 5px 10px;
    padding:5px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.container{
    background-image:url("./assets/hamburger.jpg") ;
    width: 100%;
    height: 100vh;
    position: relative;
}
.position{
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.cont{
    display: flex;
    justify-content: space-between;
    margin:20px auto;
    padding:20px;
    width: 60%;
    border-bottom: 2px solid grey ;
}
.para{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding: 10px;
    

}
h2{
    margin:40px;
}
section{
    display: flex;
    flex-direction: column;
}
.contact{
   margin: 4px auto;
   max-width: 50%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-top:10px;

   
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:  10px;
    padding-bottom: 0  10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    max-width:100%;
}
input,textarea{
    border:none;
    border-bottom: 2px solid grey;
    width: 100%;
}
form{
    width: 100%;
}
select{
    border:none;
    border-bottom: 2px solid grey;
    width: 100%;
}
    
button{
    broder:2px solid black;
    background-color:rgb(226, 223, 223);
    color: black;
    width:20vh;
    height:7vh;
    margin-top:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
